--fail-on-warnings
--relative
--no-80chars-check
--no-140chars-check
--no-class_inherits_from_params_class-check
--no-autoloader_layout-check
--no-documentation-check
--no-single_quote_string_with_variables-check
--no-strict_indent-check
--no-parameter_documentation-check
--no-parameter_order-check
--no-optional_default-check
--no-lookup_in_parameter-check
--no-params_empty_string_assignment-check
--ignore-paths=.vendor/**/*.pp,.bundle/**/*.pp,pkg/**/*.pp,spec/**/*.pp,tests/**/*.pp,types/**/*.pp,vendor/**/*.pp

PuppetLint.configuration.send('disable_params_empty_string_assignment')
PuppetLint.configuration.fail_on_warnings = false
PuppetLint.configuration.ignore_paths = [".vendor/**/*.pp", ".bundle/**/*.pp", "pkg/**/*.pp", "spec/**/*.pp", "tests/**/*.pp", "types/**/*.pp", "vendor/**/*.pp"]

require 'onceover/rake_tasks'
FastGettext.default_text_domain = 'default-text-domain'
